name: First Workflow
on: workflow_dispatch
jobs:
  first-job: 
    runs-on: ubuntu-latest
    steps: 
      - name: Print Greeting
        run: ï½œ 
            echo "Hello World1!"
            echo "Hello World2!"
      - name: Print Goodbye
        run: echo "Done Bye"
